In [2]:
x_tuple = ('abcde', 12345)
print(f'Before: {x_tuple = }')

Before: x_tuple = ('abcde', 12345)

In [10]:
try:
    x_tuple[1] = 'fghji' 

except TypeError as e:
        print(f'Error : {e}')

Error : 'tuple' object does not support item assignment

In [12]:
print(f'After : {x_tuple = }')

After : x_tuple = ('abcde', 12345)

# 변환 함수

In [16]:
[1,2,3] + [4,5,6]  #리스트함수

[1, 2, 3, 4, 5, 6]

In [24]:
(1,2,3) + (4,5,6)  #튜플


(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [20]:
'abcde' + 'fghij' #문자열

'abcdefghij'

In [25]:
12345 + 12345.0  ##정수 < 실수

12345 * 3

37035

In [31]:
var_x = 12345
print(f'{var_x}는 {type(var_x)}', end='\n'+'-'*30+'\n' )

var_y = float(var_x)
print(f'{var_y}는 {type(var_y)}', end='\n'+ '-'*30+'\n')

var_y = str(var_x)
print(f'{var_y}는 {type(var_y)}', end='\n'+'_'*30+'\n')

var_y = bool(var_x)
print(f'{var_y}는 {type(var_x)}')

12345는 <class 'int'>
------------------------------
12345.0는 <class 'float'>
------------------------------
12345는 <class 'str'>
______________________________
True는 <class 'int'>

In [46]:
for i in [1,2,3,4,5,2,3,4,5]:  #iterable 객체
    print(i)

1
2
3
4
5
2
3
4
5

# Range 함수(정수만 가능)

In [54]:
var_x = range(-10, 0, 2)  #Range 함수 
print(f'{var_x}는 {type(var_x)}', end='\n'+'-'*30+'\n')

var_y =list(var_x)
print(f'{var_y}는 {type(var_y)}', end='\n'+'-'*30+'\n')

var_y = tuple(var_x)
print(f'{var_y}는 {type(var_y)}', end='\n'+'-'*30+'\n')

var_y = set(var_x)
print(f'{var_y}는 {type(var_y)}')

range(-10, 0, 2)는 <class 'range'>
------------------------------
[-10, -8, -6, -4, -2]는 <class 'list'>
------------------------------
(-10, -8, -6, -4, -2)는 <class 'tuple'>
------------------------------
{-10, -8, -6, -4, -2}는 <class 'set'>

In [56]:
var_x = "abcdab"
print(f'{var_x}는 {type(var_x)}', end='\n'+'-'*30+'\n')

var_y = list(var_x)
print(f'{var_y}는 {type(var_y)}', end='\n'+'-'*30+'\n')

abcdab는 <class 'str'>
------------------------------
['a', 'b', 'c', 'd', 'a', 'b']는 <class 'list'>
------------------------------

# 데이터 연산

In [58]:
1+2

3

In [61]:
sum({1,2})

3

In [63]:
'abcde' + 3  #계산 에러(문자열&숫자)

TypeError: can only concatenate str (not "int") to str

In [70]:
print(f'{2/3}')    # ,4f 로 0.6667 출력 가능

0.6666666666666666

In [69]:
print(f'{2/3:.4f}')

0.6667

In [81]:
print(f'{1/3:.4f}')

0.3333

비교 연산 VS 식별 연산

In [89]:
var_x = 10
var_y = 10.0

print(f'{(var_x == var_y) = }')     #비교연산(값)

(var_x == var_y) = True

In [90]:
print(f'{(var_x is var_y) =}')      # 식별연산(주소)

(var_x is var_y) =False

세미콜론 -> 한줄로 이어쓰기

In [92]:
a=3;b=4

In [95]:
a=3,b=4 #세미콜론 안쓰고 쉼표쓰면 에러가 뜸

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2640884583.py, line 1)