In [134]:
x=list('{1,2,3,4,5}')
print(x)

['{', '1', ',', '2', ',', '3', ',', '4', ',', '5', '}']

In [135]:
var_x = '산업·데이터공학과'
print(var_x)

print(id(var_x))

산업·데이터공학과
2812245606768

In [136]:
var_y = '산업·데이터공학과'
print(var_y)
print(id(var_y))

산업·데이터공학과
2812245619488

=> 변수 x 와 변수 y 가 서로 다르므로
데이터가 저장되는 주소도 다름.

# 함수 데이터값 설정 & 삭제

In [137]:
var_z1 = 123
var_z2 = [1,2,3,4,5]

%whos

Variable   Type    Data/Info
----------------------------
a          int     12345
b          int     20
var_x      str     산업·데이터공학과
var_y      str     산업·데이터공학과
var_z1     int     123
var_z2     list    n=5
x          list    n=11

In [138]:
del var_x

%whos #var_X 데이터 삭제

No variables match your requested type.

# Input 함수

In [139]:
var_x = input('데이터를 입력하세요: ')

In [140]:
print(f'{var_x = }')
print(f'{type(var_x) = }')

var_x = '123'
type(var_x) = <class 'str'>

# Print 함수

In [141]:
print (13)
print(13, '이현민', True)
print(13, '이현민', True, end='\t 25학번')

13
13 이현민 True
13 이현민 True	 25학번

# 이스케이프 문자

In [142]:
print('이름 : 이현민\n학번 : 111111\n학과 : 자율전공학부')
# '\n'으로 줄 바꿔서 작성

이름 : 이현민
학번 : 111111
학과 : 자율전공학부

In [143]:
print('이름\t\t학번\t\t학과')
print('이현민\t\t111111\t\t자율전공학부')
# '\t'으로 간격 띄어쓰기

이름		학번		학과
이현민		111111		자율전공학부

In [144]:
print('이름\\이현민\\학번\\111111\\학과\\자율전공학부')  
#'\'는 파이썬에서 단독으로 사용하려면 '\\'를 사용해야함

이름\이현민\학번\111111\학과\자율전공학부

In [145]:
print('이현민')
print('\'이현민\'') # ' 를 출력 하려면 \' 를 사용해야함

이현민
'이현민'

# f 스트링

In [146]:
var_x = 0.55
print(f'{var_x}' ,  end='\n----------\n')
print(f'{var_x = }' , end='\n----------\n')
print(f'var_x={var_x} ')

0.55
----------
var_x = 0.55
----------
var_x=0.55

In [147]:
var_y = 54321
print(f'{var_y}')

54321

In [148]:
var_x = 54321
var_y = 54321.123456789

print(f'var_x는 정수형이므로 d를 사용하여야 하고, {var_x:d}입니다.')
print(f'var_x를 총 20개의 자리에 표현하면, {var_x:20d}입니다')
print(f'var_y는 실수형이므로 f를 사용하여야 하고, 54321.123456789입니다')
print(f'var_y를 정수만 출력하면 {var_y:.0f}입니다')
print(f'var_y를 20자리 가운데 정렬하여 소수점 3자리까지 출력하면 {var_y:^20.3f}입니다')

#f-string 함수 정렬&정수,실수 표현

var_x는 정수형이므로 d를 사용하여야 하고, 54321입니다.
var_x를 총 20개의 자리에 표현하면,                54321입니다
var_y는 실수형이므로 f를 사용하여야 하고, 54321.123456789입니다
var_y를 정수만 출력하면 54321입니다
var_y를 20자리 가운데 정렬하여 소수점 3자리까지 출력하면      54321.123      입니다