# Iterable 자료형

c535326 이현민

### 인덱싱

In [465]:
x_list= ['a','b','c','d','e']

print(x_list[0]) #파이썬 인덱스는 0부터 시작
print(x_list[-4]) #역순으로 배치할때는 음수로 작성

try:
    print(x_list[5])
except IndexError as e:
    print(e)  #인덱스 범위를 벗어남 -> 에러

a
b
list index out of range

### 튜플 인덱싱

In [466]:
x_tuple = (1,2,3,4,5)
print(f'{x_tuple =} \t=> {x_tuple[-1] = }' )

x_tuple =(1, 2, 3, 4, 5) 	=> x_tuple[-1] = 5

### 딕셔너리 인덱싱

In [467]:
x_dict = {'name' : ['이현민','홍익대'] , 'id':[12345 , 56789]}
print(f'{x_dict =} \t=> {x_dict["name"][0] = }')

x_dict ={'name': ['이현민', '홍익대'], 'id': [12345, 56789]} 	=> x_dict["name"][0] = '이현민'

### 문자열 인덱싱

In [468]:
x_str = 'Hello World!'
print(f'{x_str = } \t=> {x_str[2] = }')

x_str = 'Hello World!' 	=> x_str[2] = 'l'

## 슬라이싱

In [469]:
x_list = [0,1,2,3,4]

print(x_list[1:4])
print(x_list[1:1])
print(x_list[3:1])  

try:
    print(x_list[1:10])
except IndexError as e:
    print(e)  #인덱싱과 다르게 범위를 벗어나도 에러가 발생 X

[1, 2, 3]
[]
[]
[1, 2, 3, 4]

### 튜플 슬라이싱

In [470]:
x_tuple = (1,2,3,4,5)

print(f'{x_tuple = } \t=> {x_tuple[-1:-4:-1] = }')

x_tuple = (1, 2, 3, 4, 5) 	=> x_tuple[-1:-4:-1] = (5, 4, 3)

### 딕셔너리 슬라이싱

In [471]:
x_dict = {'name': ['이현민', '홍익대'], 'id':[12345, 56789]}

print(f'{x_dict = } \t=> {x_dict["name"][0:1] = }')

x_dict = {'name': ['이현민', '홍익대'], 'id': [12345, 56789]} 	=> x_dict["name"][0:1] = ['이현민']

### 얕은 복사

In [472]:
x = [1,2,3]
y=x
print(f'{x =} \t ==> {id(x) = }')
print(f'{y =} \t ==> {id(y) = }')

x =[1, 2, 3] 	 ==> id(x) = 2218305420992
y =[1, 2, 3] 	 ==> id(y) = 2218305420992

In [473]:
y[1] = 20

print(f'{x =} \t ==> {id(x) = }')
print(f'{y =} \t ==> {id(y) = }')

x =[1, 20, 3] 	 ==> id(x) = 2218305420992
y =[1, 20, 3] 	 ==> id(y) = 2218305420992

### 깊은 복사

In [474]:
x = [1,2,3]
y = x.copy()

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = [1, 2, 3] 	 => id(x) = 2218331357952
y = [1, 2, 3] 	 => id(y) = 2218306670208

In [475]:
y[1] = 20

print(f'{x =} \t ==> {id(x) = }')
print(f'{y =} \t ==> {id(y) = }')  #y값이 변해도 x값은 변하지 않음

x =[1, 2, 3] 	 ==> id(x) = 2218331357952
y =[1, 20, 3] 	 ==> id(y) = 2218306670208

# 리스트&튜플

In [476]:
x_list = [1,2,3,4,5]
x_tuple = (1,2,3,4,5)

print(f'x_list는 {type(x_list)}이고, x_tuple은 {type(x_tuple)}이다.')

x_list는 <class 'list'>이고, x_tuple은 <class 'tuple'>이다.

In [477]:
print(f'Before: {x_list = }')

try:
    x_list[1] = '2'
    del x_list[3]
except TypeError as e:
    print(f'Error : {e}')

print(f'After : {x_list = }')  #list 는 mutable이므로 변경 가능

Before: x_list = [1, 2, 3, 4, 5]
After : x_list = [1, '2', 3, 5]

In [478]:
print(f'Before: {x_tuple = }')

try:
    x_tuple[1] = '2'
    del x_tuple[3]
except TypeError as e:
    print(f'Error : {e}')

try:
    del x_tuple[3]
except TypeError as e:
    print(f'Error : {e}')

print(f'After : {x_tuple = }')  #tuple은 immutable이므로 변경 불가능

Before: x_tuple = (1, 2, 3, 4, 5)
Error : 'tuple' object does not support item assignment
Error : 'tuple' object doesn't support item deletion
After : x_tuple = (1, 2, 3, 4, 5)

# 내장함수(built-in)

In [479]:
x_list =[0,1,2,3,4]

print(f'{len(x_list) = }')
print(f'{sum(x_list) = }')
print(f'{min(x_list) = }')
print(f'{max(x_list) = }')
print(f'{sorted(x_list) = }')
print(f'{all(x_list) = }')
print(f'{any(x_list) = }')

len(x_list) = 5
sum(x_list) = 10
min(x_list) = 0
max(x_list) = 4
sorted(x_list) = [0, 1, 2, 3, 4]
all(x_list) = False
any(x_list) = True

In [480]:
a = ['A', 'a', '가']
a.reverse()
a

['가', 'a', 'A']

### 객체 메서드

In [481]:
print(dir(x_list), end='\n'+'='*80+'\n')
print(dir(x_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
================================================================================
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [482]:
x_list = [1,2,3,4,5,2,3,2]
print(f'{x_list =}')
print(f'{x_list.count(2) = }')
print(f'{x_list.index(2) = }')

x_list =[1, 2, 3, 4, 5, 2, 3, 2]
x_list.count(2) = 3
x_list.index(2) = 1

In [483]:
y_list = x_list.copy()
print(f'{y_list =}')
print(f'{x_list is y_list =}')
print(f'{id(x_list) = }, {id(y_list) = }')

y_list =[1, 2, 3, 4, 5, 2, 3, 2]
x_list is y_list =False
id(x_list) = 2218305177344, id(y_list) = 2218305478272

In [484]:
x_list.reverse()
print(f'{x_list = }')
x_list.sort()
print(f'{x_list = }')

x_list = [2, 3, 2, 5, 4, 3, 2, 1]
x_list = [1, 2, 2, 2, 3, 3, 4, 5]

In [485]:
x_list.append(6)
print(f'{x_list = }')
x_list.extend([7,8,9])
print(f'{x_list = }')
x_list.append([10,11,12])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [486]:
x_list.insert(3,3.5)
print(f'{x_list = }')
x_list.remove(3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 3.5, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [487]:
x_list.pop()
print(f'{x_list = }')
x_list.pop(7)
print(f'{x_list = }')
x_pop = x_list.pop(0)
print(f'{x_list = }, {x_pop =}')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 6, 7, 8, 9]
x_list = [2, 2, 2, 3, 3, 4, 6, 7, 8, 9], x_pop =1

In [488]:
x_list.clear()
print(f'{x_list = }')

x_list = []

In [489]:
del x_list

try:
    print(f'{x_list = }')
except NameError as e:
    print(f'Error : {e}')

Error : name 'x_list' is not defined

# String(문자열)

### 문자열 인덱싱/슬라이싱

In [490]:
string = "Hello Phyton! My name is Python I am a Phyton Developer"
print(f'''
==== 인덱싱(포인트) ====
{string[0]=}
{string[3]=}
==== 슬라이싱(구간 ====
{string[0:5]=}
{string[6:-1]=}
==== 스텝(간격) ====
{string[6:12:2]=}
{string[::2]=}
{string[::-1]=}
''')

==== 인덱싱(포인트) ====
string[0]='H'
string[3]='l'
==== 슬라이싱(구간 ====
string[0:5]='Hello'
string[6:-1]='Phyton! My name is Python I am a Phyton Develope'
==== 스텝(간격) ====
string[6:12:2]='Pyo'
string[::2]='HloPyo!M aei yhnIa  htnDvlpr'
string[::-1]='repoleveD notyhP a ma I nohtyP si eman yM !notyhP olleH'

### 문자열 연산

In [491]:
string = "Hello Python!" + "My name is Python." + "I am a Python Developer"
print(string)

Hello Python!My name is Python.I am a Python Developer

In [492]:
string = "Hello Python! " * 3
print(string)

Hello Python! Hello Python! Hello Python!

### 문자열 관련 함수

In [493]:
string = "2024_바이오헬스 교과목 목록.xlsx"
print(len(string))
print('2024 in string')
print('csv not in string')

22
2024 in string
csv not in string

# Dictionary

### Dictionary 생성

In [494]:
my_dict = dict() #빈 dictionary
my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict1['name']

'Max'

In [495]:
person_keys = ['name', 'age', 'city']
person1_values = [ 'Max', '28', 'New York']
person2_values = [ '이현민', '21', '서울']

In [496]:
list(zip(person_keys, person1_values)) #리스트로 추출(zip 활용)

[('name', 'Max'), ('age', '28'), ('city', 'New York')]

In [497]:
dict(list(zip(person_keys, zip(person1_values, person2_values))))  #Dictionary로 묶기

{'name': ('Max', '이현민'), 'age': ('28', '21'), 'city': ('New York', '서울')}

In [498]:
my_dict_dict = {'A': {'name': 'Max', 'age': 28, 'city': 'New York'},
                'B': {'name': 'Mary', 'age':22, 'city': 'Seoul'}}

In [499]:
print(f'{my_dict_dict = }')
print(f'{my_dict_dict["A"] = }')
print(f'{my_dict_dict["A"]["name"] = }')

my_dict_dict = {'A': {'name': 'Max', 'age': 28, 'city': 'New York'}, 'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}
my_dict_dict["A"] = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict_dict["A"]["name"] = 'Max'

### pprint

In [500]:
from pprint import pprint
pprint(my_dict_dict)

{'A': {'age': 28, 'city': 'New York', 'name': 'Max'},
 'B': {'age': 22, 'city': 'Seoul', 'name': 'Mary'}}

### Dictionary 살펴보기

In [501]:
print(f'{my_dict1 = } ')
print(f'{type(my_dict1) = }')
print(f'{len(my_dict1) = }')
print("name" in my_dict1)
print("Max" in my_dict1)

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
type(my_dict1) = <class 'dict'>
len(my_dict1) = 3
True
False

In [502]:
print(f'{my_dict1["name"] =}')

try:
    print(f'{my_dict1["name2"] = }')
except KeyError as e:
    print(f'KeyError: {e}')

my_dict1["name"] ='Max'
KeyError: 'name2'

In [503]:
print(f'{my_dict_dict["A"]["name"] = }')

my_dict_dict["A"]["name"] = 'Max'

### get() ==> Error 회피

In [504]:
print(f'{my_dict1.get("name") = }')
print(f'{my_dict1.get("name2") = }')
print(f'{my_dict1.get("name2", "replacement") = }')

my_dict1.get("name") = 'Max'
my_dict1.get("name2") = None
my_dict1.get("name2", "replacement") = 'replacement'

In [505]:
import numpy as np

print(f'{my_dict1.get("name", np.nan) = }')  #numpy 활용(강의록 업데이트 참고)

my_dict1.get("name", np.nan) = 'Max'

In [506]:
import numpy as np

list(np.arange(0,10,2.5))

[np.float64(0.0), np.float64(2.5), np.float64(5.0), np.float64(7.5)]

### Dictionary 요소 추가/삭제

In [507]:
print(f'{my_dict1 = }')
my_dict1["id"] = 123
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York', 'id': 123}

del -> 삭제O\반환X 
pop -> 삭제O\반환O

In [508]:
del my_dict1["id"]
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [509]:
my_dict_more = {"age":50, "affiliation": "Hongik Univ."}
my_dict1.update(my_dict_more)
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'affiliation': 'Hongik Univ.'}

In [510]:
my_dict1.pop("affiliation")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York'}

In [511]:
my_dict1["age"] = 30
print(f'{my_dict1 = }') #하나의 요소만 바꾸기

my_dict1 = {'name': 'Max', 'age': 30, 'city': 'New York'}

In [512]:
my_dict1.update(age = 40,id = 123, occupation = "Data Scientist")
print(f'{my_dict1 = }')  #update() ==> 한번에 여러 요쇼를 바꾸기

my_dict1 = {'name': 'Max', 'age': 40, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [513]:
occupation = my_dict1.pop("occupation")
print(f'{my_dict1 =}\n{occupation = }')

my_dict1 ={'name': 'Max', 'age': 40, 'city': 'New York', 'id': 123}
occupation = 'Data Scientist'

### popitem()

In [514]:
print(f'{my_dict1 =}')

last= my_dict1.popitem()
print(f'{my_dict1 =}\n{last = }')

last = my_dict1.popitem()
print(f'{my_dict1 =}\n{last = }')

my_dict1 ={'name': 'Max', 'age': 40, 'city': 'New York', 'id': 123}
my_dict1 ={'name': 'Max', 'age': 40, 'city': 'New York'}
last = ('id', 123)
my_dict1 ={'name': 'Max', 'age': 40}
last = ('city', 'New York')

### clear()

In [515]:
my_dict1.clear()
print(f'{my_dict1 = }')

my_dict1 = {}

+@

In [516]:
my_dict1 = {'age': 'Max', 'age':28 } #'키'의 중복은 안됨{'key':'value'}
my_dict1

{'age': 28}

In [517]:
name= 'Name'
my_dict1 = {name: 'max'} #문자열이 아닌것을 쓰려면 변수 지정 해줘야됨
my_dict1

{'Name': 'max'}